{%load static%}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Password</title>
        <link rel="stylesheet" href="{% static 'app/add_p.css' %}" />
    </head>
    <body>
        <h2>Add a New Password</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="domain">Domain:</label>
            <input type="text" id="domain" name="domain" required><br><br>
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>
            
            <button type="submit">Add Password</button>
        </form>
        <a href="{% url 'profile' %}">Back to Profile</a>
    </body>
    </html>